* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Heading";
  font-style: normal;
  font-weight: 900;
  src: url("./assets/fonts/tt-supermolot.woff2") format("woff2");
}

@font-face {
  font-family: "Alt-Body";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/publica-sans.woff2") format("woff2");
}

*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Alt-Body";
  transition: 0.3s all ease-in-out;
}

html {
  background-color: #f8cb23;
  opacity: 1;
  background-image: radial-gradient(#f8cb23 2px, #e5e5f7 2px);
  background-size: 2em 2em;
  background-attachment: fixed;
}

h1 {
  font-family: "Heading";
  margin: 2rem 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
  color: rgb(248, 203, 35);
}

span.issue {
  color: red;
}

.feature-test-description-parent {
  width: 80vw;
  max-width: 500px;
  text-align: center;
  margin: 2em auto;
}

.feature-test-description {
  display: inline-block;
  text-align: left;
  line-height: 1.6;
}

.feature-test-description p {
  font-family: "Heading";
}

.feature-showcase-description-list {
  list-style-position: inside;
  list-style-type: disc;
  padding: 1em 0;
}

.flexbox-container {
  width: 80%;
  margin: 2rem auto;
  line-height: 1.5;
  text-align: center;
}

.flexbox-container-background {
  position: absolute;
  background: url("https://cdn.shopify.com/s/files/1/0526/2688/2746/files/sl1_a06943b3-784c-4cb2-a7dc-c78cba61b087.png");
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  left: 50%;
  transform: translateX(-50%);
  background-size: contain;
  z-index: -5;
  filter: blur(50px);
  opacity: 0.45;
}

h2.flexbox-container-heading {
  font-family: "Heading";
  text-transform: uppercase;
}

ul.flexbox {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  list-style-type: none;
  justify-content: space-around;
}

li.flexbox-item {
  display: block;
  text-align: center;
}

li.flexbox-item img {
  max-width: 4rem;
}

li.flexbox-item p {
  font-size: 14px;
}

.flexbox-container:hover .flexbox-container-background {
  transition: 0.35s all ease-in-out;
  filter: blur(0);
  opacity: 1;
}

.flexbox-container:hover .flexbox-item,
.flexbox-container:hover .flexbox-container-heading,
.flexbox-container:hover p {
  /* color: rgba(0, 0, 0, 0); */
  opacity: 0;
  /* visibility: hidden; */
}

.helmet-showcase-cta,
.product-showcase-cta {
  font-family: "Heading";
  text-transform: uppercase;
  padding: 1rem;
  background-color: #000;
  color: #f8cb23;
  border: 3px solid #f8cb23;
}

.helmet-showcase-cta:hover,
.product-showcase-cta:hover {
  cursor: pointer;
  background-color: #fff;
  border: 3px solid #f8cb23;
  color: #000;
}

.helmet-image-compare-section {
  background: #020202;
  height: 500px;
  padding: 1rem 0;
  overflow-x: hidden;
}

.helmet-compare-container {
  width: 900px;
  max-width: 90vw;
  margin: auto;
}

.image-compare-container {
  position: relative;
  margin: 2rem auto;
  left: 100%;
  transform: translateX(-85%);
}

.image-compare {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.image-compare img {
  display: block;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  width: 40px;
  height: 40px;
  background-color: #fff;
  opacity: 0.7;
  border-radius: 50%;
}

.combined-features-card-section {
  margin: 2rem 0;
  padding: 1rem;
  width: 100%;
  background-color: #111111;
  color: #e9ecef;
}

.combined-container {
  margin: 2rem 0;
  width: 80vw;
  max-width: 1600px;
  margin: auto;
}

.combined-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-around;
  vertical-align: center;
}

.card-with-image {
  padding: 4rem;
  background-color: rgb(248, 203, 35);
  border-radius: 1em;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  /* box-shadow: rgba(248, 203, 35, 0.5) 0px 30px 60px -12px inset, rgba(248, 203, 35, 0.5) 0px 18px 36px -18px inset; */
}

.card-with-image:hover .combined-feature-image {
  transform: scale(1.05);
}

.combined-feature-list {
  vertical-align: center;
  margin: auto;
}

.combined-feature-heading,
.combined-feature-description {
  text-align: center;
}

.combined-feature-heading {
  font-family: "Heading";
  text-transform: uppercase;
  font-size: 2em;
}

.combined-feature-description {
  max-width: 25em;
  margin: 1em auto;
  font-size: 1.4em;
}

.container-grid {
  margin: 1.5em auto;
  display: grid;
  width: 600px;
  /* height: 650px; */
  grid-template-columns: 300px 300px;
  grid-row: auto auto;
  /* grid-column-gap: 1.5em; */
  /* grid-row-gap: 1.5em; */
}

.container-grid .grid-box {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-box img {
  width: 4em;
  filter: invert(1);
}

.grid-box p {
  /* width: 12em; */
  max-width: 240px;
  text-align: center;
}

.grid-box p strong {
  font-family: "Heading";
}

.grid-link {
  text-align: center;
  margin: auto;
}

.card-feature-showcase-section {
  width: 100%;
  /* height: 300px; */
  background-color: #000;
  padding: 1rem 0;
}

.card-feature-showcase-parent {
  width: 80vw;
  max-width: 1024px;
  margin: 1rem auto;
  /* background-color: blue; */
  padding: 1rem;
}

.card-feature-showcase-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}

.card-feature-showcase-card {
  width: 300px;
  height: 400px;
  position: relative;
  display: block;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: lightgray;
  border-radius: 6px;
  padding: 1rem;
  transform: scale(1);
  border: 8px solid transparent;
}

.card-feature-showcase-card h3,
.card-feature-showcase-card p {
  color: #000;
  text-align: center;
}

.card-feature-showcase-card h3 {
  font-family: "Heading";
  text-transform: uppercase;
  display: absolute;
}

.card-feature-showcase-card p {
  margin-top: 50%;
}

/* bottom does not work; roundabout way to implement the same thing */
.card-one:hover {
  top: -6px;
}

/* right does not work; roundabout way to implement the same thing */
.card-two:hover {
  left: -6px;
}

.card-three:hover {
  left: 6px;
}

.card-four:hover {
  transform: scale(1.05);
}

.card-five:hover {
  transform: scale(0.95);
}

.card-six,
.card-seven {
  background-color: transparent;
  /* display: block; */
  padding: 0;
  perspective: 1000px;
  border: 0px;
}

.inner-card {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.card-six:hover .inner-card {
  transform: rotateY(180deg);
}

.card-seven:hover .inner-card {
  transform: rotateX(180deg);
}

.card-front,
.card-back {
  background-color: lightgray;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 8px solid transparent;
  border-radius: 6px;
}

.card-six .card-back {
  transform: rotateY(180deg);
}

.card-seven .card-back {
  transform: rotateX(180deg);
}

.card-eight:hover {
  box-shadow: rgb(248, 203, 35) 0px 6px 24px;
}

.card-nine:hover {
  filter: invert(1);
}

.card-eleven:hover {
  background: transparent;
  border: 8px solid lightgray;
}

.card-eleven:hover * {
  color: lightgray;
}

.card-feature-showcase-card:hover {
  transition: all 0.3s ease-in-out;
}

/* Overwriting default transition settings */
.card-ten:hover {
  border: 8px solid #f8cb23;
  transition: border 0.2s ease-out;
}

.product-feature-showcase-section {
  width: 100%;
  padding: 2rem;
  background-color: #fcf7ff;
}

.product-showcase-flex {
  display: flex;
  gap: 1rem;
  margin: auto;
  justify-content: center;
  vertical-align: auto;
  flex-wrap: wrap;
}

.product-showcase-card {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  max-width: 400px;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
}

.product-showcase-card .product-showcase-image {
  background-size: auto;
}

.product-showcase-card .product-showcase-image img {
  width: 100%;
  height: 380px;
  border-radius: 0.5rem 0.5rem 0 0;
  background-repeat: no-repeat;
  object-fit: cover;
  margin: auto;
  text-align: center;
  filter: grayscale(1);
}

.product-showcase-card:hover .product-showcase-image img {
  filter: grayscale(0);
  transition: filter 0.2s ease-in-out;
}

.product-showcase-card .product-showcase-cta {
  margin-top: auto;
}

.product-showcase-details,
.product-showcase-heading,
.product-showcase-description,
.product-showcase-cta {
  padding: 0 0.5rem;
  margin: 0.5rem 0;
}

.product-showcase-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-showcase-details button {
  width: fit-content;
}

.product-showcase-description {
  color: #444;
  line-height: 1.5;
}

.product-showcase-heading {
  font-family: "Heading";
  font-size: 1.5rem;
  text-transform: uppercase;
}

.product-showcase-cta {
  padding: 1rem;
}

.product-showcase-cta-all {
  width: 100%;
}

.browse-all-products-cta {
  border: 3px solid #000;
  display: block;
  background-color: #f8cb23;
  color: #000;
  font-family: "Heading";
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  margin: 3rem auto;
}

.browse-all-products-cta:hover {
  border: 3px solid #000;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.browse-all-products-cta:active {
  background-color: #f8cb23;
  color: #fff;
  transition: all 0.1s ease-in-out;
}

.background-text-blend-feature-section {
  width: 100%;
  /* height: 500px; */
}

.background-text-image-blend-parent {
  display: flex;
  flex-direction: row-reverse;
  background-color: #2e2d2d;
  color: #f1faee;
}

.background-text-blend-hero-details {
  display: block;
  width: 600px;
  margin: auto;
  /* padding: 2rem 0; */
}

.background-text-blend-hero-details > * {
  padding: 2rem 0;
}

.background-text-blend-hero-details h2 {
  font-family: "Heading";
  font-size: 3rem;
  text-transform: uppercase;
  padding-top: 0.5rem;
}

.background-text-blend-hero-details sub {
  padding-bottom: 0.5rem;
  font-family: "Heading";
  font-size: 1.5rem;
  text-transform: uppercase;
  color: lightskyblue;
}

.background-text-blend-hero-details p {
  font-size: 1.5rem;
  line-height: 1.5;
}

.background-text-blend-hero-details a button {
  background-color: #f8cb23;
  color: #000;
  font-family: "Heading";
  text-transform: uppercase;
  border: 3px solid #000;
  padding: 1rem;
}

.alternate-hero-testing-showcase-section {
  background-color: #000;
  color: #ddd;
}

.alternate-hero-section-parent {
  display: flex;
  flex-direction: column;
}

.alternate-hero-section-navbar-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* vertical-align: center; */
  align-items: center;
}

.alternate-hero-section-navbar-parent ul {
  list-style-type: none;
}

.alternate-hero-section-navbar {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-list-of-links {
  gap: 1.5rem;
}

.main-list-of-links li:hover {
  cursor: pointer;
  color: #fff;
}

.main-account-cart li img {
  width: 64px;
  transform: scale(0.6);
  display: inline;
  filter: invert(90%);
}

.alternate-hero-section-flexbox {
  padding: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: row;
  overflow-x: hidden;
}

.alternate-hero-section-flexbox div img {
  width: 50vw;
  filter: grayscale(100%) blur(4px);
}

.alternate-hero-section-flexbox div img:hover {
  filter: grayscale(0%) blur(0);
}

.alternate-hero-section-flexbox div button {
  /* position: absolute; */
  position: relative;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid #ddd;
  background: #000;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
  font-family: "Heading";
  text-transform: uppercase;
  display: block;
  visibility: hidden;
  transition: all 0.1s ease-in-out;
}

.alternate-hero-section-flexbox .alternate-hero-section-one:hover button,
.alternate-hero-section-flexbox .alternate-hero-section-two:hover button {
  /* display: block; */
  visibility: visible;
  transition: all 0.15s ease-in-out;
}

.alternate-hero-section-flexbox button:hover {
  border: 3px solid #f8cb23;
  background: #000;
  color: #f8cb23;
  cursor: pointer;
}

.alternate-menu-dropdown-test-section {
  width: 100%;
  height: 400px;
  background-color: #000;
  color: #ccc;
}

.alternate-menu-dropdown-test-navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
}

.alternate-menu-dropdown-test-navbar ul {
  list-style-type: none;
}

.alternate-menu-dropdown-test-navbar .test-navbar-links,
.alternate-menu-dropdown-test-navbar .account-and-shopping-cart {
  display: flex;
  gap: 1rem;
}

.alternate-menu-dropdown-test-navbar .test-navbar-links {
  gap: 1rem;
}

.alternate-menu-dropdown-test-navbar .test-navbar-links img {
  display: inline-block;
  margin-left: 0.4rem;
  width: 12px;
  filter: invert(80%);
}

.alternate-menu-dropdown-test-navbar .test-navbar-links > li:hover {
  color: #fff;
  cursor: pointer;
  /* font-weight: 600; */
}

.test-navbar-links ul {
  padding: 1rem;
  position: absolute;
  line-height: 1.5;
  background: #ccc;
  color: #444;
  border-radius: 5px;
  display: none;
}

.alternate-menu-dropdown-test-navbar .test-navbar-links ul li:hover {
  color: #000;
}

.alternate-menu-dropdown-test-navbar
  .test-navbar-links
  .all-products-parent:hover
  .all-products-children {
  display: block;
}

.alternate-menu-dropdown-test-navbar .account-and-shopping-cart img {
  display: inline;
  filter: invert(100%);
  width: 2rem;
}

.size-guide-page-link {
  width: 100%;
}

.size-guide-page-link a {
  text-decoration: none;
}

.size-guide-page-link a .size-guide-helper-button {
  display: block;
  margin: 2rem auto;
  padding: 1rem;
  font-family: 'Heading';
  text-transform: uppercase;
  border: 3px solid #f8cb23;
  background: #000;
  color: #f8cb23;
}

.size-guide-page-link a .size-guide-helper-button:hover {
  border: 3px solid #fff;
  background: #f8cb23;
  color: #fff;
  cursor: pointer;
}